.widget_pages ul.children {
  margin-left: 0;
  margin-top: 10px;
}

.widget_pages ul.children li {
  padding-bottom: 0;
  border-bottom: none;
}

.blogpost .tagcloud {
  margin: 20px 0 15px 0;
}

.tagcloud.badge h5 {
  float: left;
  display: block;
  margin-right: 16px;
  margin-top: 8px;
}

.widget .tagcloud a {
  margin-right: 2px;
  margin-bottom: 2px;
}

.post .tagcloud {
  margin-bottom: 25px;
}
