///////////////////////
// Pace Loading Bar  //
///////////////////////

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 4px;
    background: #222;

    -webkit-transition: -webkit-transform .3s, width 1s;
    -moz-transition: -moz-transform .3s, width 1s;
    -o-transition: -o-transform .3s, width 1s;
    transition: transform .3s, width 1s;

    pointer-events: none;
  }
}

body.dark-section .pace .pace-progress {
  background: #fff;
}

.admin-bar .pace .pace-progress {
  position: absolute;
}

.pace.pace-active .pace-progress {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.pace.pace-inactive {
  display: none;
}