/**
 * General Portfolio Styles
 */
.single-portfolio {

  .image-title-bg {
    text-align:center;

    .title {
      margin-bottom: 30px;
    }
  }

  .tags {
    margin-bottom: 50px;
    float: left;
  }
}