.aligncenter, div.aligncenter {
  display: block;
  margin: auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.remove-bottom {
  margin-bottom: 0 !important;
}

.remove-top {
  margin-top: 0 !important;
}

.half-bottom {
  margin-bottom: 10px !important;
}

.add-bottom {
  margin-bottom: 20px !important;
}

.aligncenter {
  text-align: center;
}

.noborder {
  border: none !important;
}

p img {
  display: inline;
}

em {
  font-style: italic;
}

img.attachment-thumbnail {
  max-width: 100% !important;
  height: auto !important;
}

blockquote {
  margin: 0 0 45px 0;
  padding: 0;
  border: none;
  text-align: center;

  cite {
    font-size:12px;
    display:block;
    margin-top: 15px;
  }
}

.tw-column blockquote,
.tw-column blockquote p {
  margin: 0;
}

blockquote p {
  line-height:1.2em !important;
  margin: auto;
  text-align: left;
  max-width: 500px;
  color: #333;
  display: inline-block;
  border-top: 3px solid #e8e8e8;
  border-bottom: 3px solid #e8e8e8;
  border-color: rgba(0, 0, 0, 0.05);
  padding: 25px 0;
}

cite {
  display: inline-block;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.alignright blockquote {
  float: right;
  max-width: 340px;
  margin-top: 0;
  padding-left: 20px;
}

.alignleft blockquote {
  float: left;
  max-width: 340px;
  margin-top: 0;
  padding-right: 20px;
}

.bypostauthor {
  border: 3px;
}